[Unit]
Description=Prometheus node-exporter in Docker
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/bin/docker start -a {{ node_exporter_service_name }}
ExecStop=/usr/bin/docker stop -t 15 {{ node_exporter_service_name }}
Restart={{ node_exporter_restart }}
RestartSec={{ node_exporter_restart_sec }}

[Install]
WantedBy=multi-user.target
